<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %C:%M:%L %x[%t] - %m%n" />
		</layout>
	</appender>
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="./log/debug_log.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="immediateFlush" value="true" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %C:%M:%L %L %x - %m%n" />
		</layout>
	</appender>
	<root>
		<level value="WARN" />
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</root>
</log4j:configuration>